[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
ansible = "*"
asn1crypto = "*"
bcrypt = "*"
cffi = "*"
colorama = "*"
cryptography = "*"
junos-eznc = "*"
lxml = "*"
ncclient = "*"
netaddr = "*"
paramiko = "*"
pyasn1 = "*"
pycparser = "*"
pyserial = "*"
retrying = "*"
scp = "*"
selectors2 = "*"
six = "*"
Jinja2 = "*"
MarkupSafe = "*"
PyNaCl = "*"
PyYAML = "*"

[requires]
python_version = "3.6"
